
{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">

        {% for pr in prof %}
            <h1>Le profil de {{ pr.username }}</h1>
            <h2>Son email : {{ pr.email }}</h2>
        {% endfor %}

    </div>
{% endblock %}
