{% extends 'base.html.twig' %}

{% block title 'Agence Immo' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Property page</h1>
    <p>Pull in Bootstrap’s source files into nearly any project with some of the most popular package managers. No matter the package</p>
</div>
{% endblock %}